<table style="max-width: 600px; padding: 20px; margin:0 auto; border-collapse: collapse;">
    <tr>
        <td style="background-color: #f9f9f9; text-align: center; padding: 0;  ">
            <img src='https://i.postimg.cc/rK16k680/logo.png' border='0' alt='logo' width="30%" /></a>
            </a>
        </td>
    </tr>

    <tr>
        <td style="background-color: #ecf0f1">
            <div style="color: #34495e; margin: 4% 10% 2%; text-align: justify;font-family: sans-serif; font-size: 15px" >
                <h2 style="color: #e67e22; margin: 0 0 7px">Welcome {{ username }}!</h2>
                <p style=" font-size: 20px; margin-button: 25px">
                    Before you start using Hisitter we need you to do one last thing.<br> Please click in the button to verify the account.
                </p>

                <div style="width: 100%; text-align: center">
                    <a style="text-decoration: none; border-radius: 5px; padding: 11px 23px; color: white; background-color: #3498db" href="{{ base_url }}users/verify/{{ token }}/">Verify Account </a>
                </div>
                <p style="color: #b3b3b3; font-size: 12px; text-align: center;margin: 30px 0 0">Platzi Master</p>
            </div>
        </td>
    </tr>
</table>